body {
  display: flex;
  align-content: center;
  align-items: center;
  height: 100vh;
  background-color: antiquewhite;
  font-family: "Courier New", monospace;
  font-size: 62.5%;
}

.container {
}

h1 {
  color: #111111;
  font-size: 2rem;
}

.learning {
  border-right: 0.2rem solid black;
  animation: typing 0.75s step-end infinite;
}

@keyframes typing {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}
